@model WebINV.Models.InvSoft

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>InvSoft</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idSoft" />
            <div class="form-group">
                <label asp-for="CodSoft" class="control-label"></label>
                <input asp-for="CodSoft" class="form-control" />
                <span asp-validation-for="CodSoft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soft" class="control-label"></label>
                <input asp-for="Soft" class="form-control" />
                <span asp-validation-for="Soft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
