body[b-j5hnwdjmsl], h1[b-j5hnwdjmsl], h2[b-j5hnwdjmsl], h3[b-j5hnwdjmsl], p[b-j5hnwdjmsl] {
    margin: 0;
    padding: 0;
}


body[b-j5hnwdjmsl] {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}


header[b-j5hnwdjmsl] {
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand[b-j5hnwdjmsl] {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
}

.navbar-toggler-icon[b-j5hnwdjmsl] {
    background-color: #007bff;
}

.navbar-nav .nav-link[b-j5hnwdjmsl] {
    color: #343a40;
}


.container[b-j5hnwdjmsl] {
    margin-top: 10%;
}

main[b-j5hnwdjmsl] {
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.footer[b-j5hnwdjmsl] {
    background-color: #f8f9fa;
    padding: 10px 0;
    margin-top: 10px;
}

    .footer a[b-j5hnwdjmsl] {
        color: #007bff;
    }


@keyframes fadeIn-b-j5hnwdjmsl {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

main[b-j5hnwdjmsl] {
    animation: fadeIn-b-j5hnwdjmsl 0.4s ease-in-out;
}
