@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à Loja de Máquinas</h1>
    <p>Descubra nossas incríveis ofertas em <a href="/produtos">máquinas, computadores e muito mais</a>.</p>
</div>
